<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>

  <body class="<%= page_classes %>">

    <img src="/images/cosmicvent-logo.png" alt=""/>

    <nav>
      <a href="/" <%= "class=active" if current_page.url == "/" %>>Home</a> |
      <a href="/about" <%= "class=active" if current_page.url == "/about/" %>>About Us</a> |
      <a href="/contact" <%= "class=active" if current_page.url == "/contact/" %>>Contact Us</a>
    </nav>


  <%= yield %>

<footer>&copy; 2016 Cosmicvent Software </footer>
  </body>
</html>
